
<div style="background-color: cadetblue; height: 700px; padding: 40px;">
  <div *ngIf="post" style="border: 2px solid black; padding:30px; font-size: 25px; font-weight: 400; margin-left: 35%; background-color: antiquewhite; height: 400px; width: 400px; padding: 15px; margin-top: 110px;">
  <label for="name" style="font-size: 30px; margin-left:25%; font-weight: 400;" >POST-DETAILS </label>
        <hr>  
  <div>
      <label><b>Post Id: </b></label> {{post.postId}}
    </div>
    <div>
      <label><b>Topic Title: </b></label> {{post.topicTitle}}
    </div>
    <div>
      <label><b>Content: </b></label> {{post.content}}
    </div>
    <hr>
    <button (click)="list()" class="btn btn-primary" style="margin-left: 30%;">Back to Post List</button><br>
    
  </div>
  
</div>