<div style="margin-left:33% ;margin-top: 100px; padding: 10px;">
  <nav >
    <a routerLink="/createPost" style="text-align: center;  padding: 5px; border: solid 2px black; background-color: aliceblue; font-weight: 500; color: black; width: 100px;">ADD A POST</a>
    <a routerLink="/pList" style="text-align: center; padding: 5px;  border: solid 2px black; background-color: aliceblue; font-weight: 500; color: black; width: 100px;  margin-left: 10px;">POST LIST</a>
    <a routerLink="/createComments" style="text-align: center; padding: 5px;  border: solid 2px black; background-color: aliceblue; font-weight: 500; color: black; width: 100px;  margin-left: 10px;">ADD A COMMENT</a>
    <a routerLink="/cList" style="text-align: center; padding: 5px;  border: solid 2px black; background-color: aliceblue; font-weight: 500; color: black; width: 100px;  margin-left: 10px;">COMMENTS LIST</a>
  </nav>
</div>



<div style="background-color: cadetblue; height: 700px ;margin-top: 10px; padding: 40px;" >
  <form (ngSubmit)="onSubmit()" style="width: 530px; height: 400px; margin-top: 10px; margin-left: 33%; border: solid black 2px; padding: 5px; background-color: antiquewhite">
    <div class="form-group">
      <label for="name" style="font-size: 30px; margin-left: 30%; font-weight: 400; margin-top: 5px;" >ADD-COMMENT</label>
    <hr>
      <label for="id" style="font-size: 25px;">comments Id</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="comments.commentsId" name="id" style="border: 2px solid black; font-size: 25px;">
    </div>

    <div class="form-group">
      <label for="name" style="font-size: 25px;">Contents</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="comments.contents" name="name" style="border: 2px solid black; font-size: 25px;">
    </div>
    
    <button type="submit" class="btn btn-success" style="margin-left:40% ; font-size: 20px; border: black; ">SUBMIT</button>

    <!-- <button type="submit" class="btn btn-success"><a routerLink="/createPost">Submit</a></button> -->
  </form>
</div>