<!-- NAVBAR STARTS -->
<nav>
    <div class="navbar">
        <i class='bx bx-menu'></i>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7P11LAqNGKEj80fq8-UzsDHuFHEZIVVaSZQ&usqp=CAU"
            width="100px" height="50px" style="margin-left:-150px ;">
        <div class="logo"><a routerLink="/home">InterviewQAForum</a></div>
        <div class="nav-links">
            <div class="sidebar-logo">
                <span class="logo-name"><a routerLink="/home">InterviewQAForum</a></span>
                <i class='bx bx-x'></i>
            </div>
            <ul class="links">
                <li><a routerLink="/home" style="margin-left: 20px;">HOME</a></li>
                <li><a routerLink="/aboutus">ABOUT US</a></li>
                <li><a routerLink="/contactus">CONTACT US</a></li>
  
                <li><a routerLink="/createPost">ADD A QUESTION</a></li>
  
  
                <!-- <li><a routerLink="/comments">Add Comments</a></li> -->
            </ul>
        </div>
  
        <button class=" btn" type="button"
            style="width: 200px; height: 50px; font-size: 16px; font-weight: 700; margin-left: 150px;"><a routerLink="/add">Create Account -></a></button>
        <button class=" btn" type="button"
            style="width: 100px; height: 50px; font-size: 16px; font-weight: 700; margin-right:-95px; "><a routerLink="/login">Log In</a></button>
    </div>
    <div class="mar">
        <marquee>
            Post The Questions And Get Accurate Answers
        </marquee>
    </div>
    
  </nav>
  
  <!-- NAVBAR ENDS -->