<!-- NAVBAR STARTS -->
<nav>
  <div class="navbar">
      <i class='bx bx-menu'></i>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7P11LAqNGKEj80fq8-UzsDHuFHEZIVVaSZQ&usqp=CAU"
          width="100px" height="50px" style="margin-left:-100px ;">
      <div class="logo"><a routerLink="/home">InterviewQAForum</a></div>
      <div class="nav-links">
          <div class="sidebar-logo">
              <span class="logo-name"><a routerLink="/home">InterviewQAForum</a></span>
              <i class='bx bx-x'></i>
          </div>
          <ul class="links">
              <li><a routerLink="/home" style="margin-left: 20px;">HOME</a></li>
              <li><a routerLink="/aboutus">ABOUT US</a></li>
              <li><a routerLink="/contactus">CONTACT US</a></li>

              <li><a routerLink="/createPost">ADD A QUESTION</a></li>

              <!-- <li><a routerLink="/comments">Add Comments</a></li> -->
          </ul>
      </div>

      <button class=" btn" type="button"
          style="width: 200px; height: 50px; font-size: 16px; font-weight: 700; margin-left: 150px;"><a routerLink="/add">Create Account -></a></button>
      <button class=" btn" type="button"
          style="width: 100px; height: 50px; font-size: 16px; font-weight: 700; margin-right:-95px; "><a routerLink="/login">Log In</a></button>
  </div>
  <div class="mar">
      <marquee>
          Post The Questions And Get Accurate Answers
      </marquee>
  </div>
  
</nav>

<!-- NAVBAR ENDS -->

  <!-- CONTACT US START -->
  <section id="contactus">
    <img
      src="https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?s=612x612&w=0&k=20&c=_vmYyAX0aFi-sHH8eYS-tLLNfs1ZWXnNB8M7_KWwhgg="
      alt="">

    <div class="content">
        <br>
     <div class="mq">
      <marquee>Conatct For Any Query.</marquee>
      </div>
      <br>
      <h2 style="font-size: 50px;">Contact Us</h2>
      <div class="description">

        <i class="fas fa-map-marker-alt"></i>
        <div>Address :</div>
        <div>Symbiosis Center For Distance Learning , Pune</div>

        <br>

        <i class="fas fa-phone-alt"></i>
        <div>Phone :</div>
        <div>+91 85540 11270</div>
        <div>+91 94225 85038</div>

        <br>

        <i class="fas fa-envelope"></i>
        <div>Email :</div>
        <div>interviewqaforumgmail.com</div>
      </div>
    </div>
  </section>
  <!-- CONTACT US ENDS -->

  <!-- FOOTER STARTS -->
  <section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <br>
        <h4>InterviewQAForum</h4>
        <ul class="links">

          <li style="font-size: 20px;"> Address :</li>
          <li style="font-size: 18px;">Symbiosis Center For Distance Learning , Pune</li>

          <li style="font-size: 20px;">Phone :</li>
          <li style="font-size: 18px;">+91 85540 11270</li>
          <li style="font-size: 18px;">+91 94225 85038</li>

          <li style="font-size: 20px;">Email :</li>
          <li style="font-size: 18px;">interviewqaforum</li>
        </ul>
      </div>

      <div class="footer-col">
        <br>
        <h4>Topics</h4>
        <ul class="links">
          <li><a href="#">Java</a></li>
          <li><a href="#">Spring</a></li>
          <li><a href="#">MySQL</a></li>
          <li><a href="#">Html</a></li>
          <li><a href="#">Css</a></li>
          <li><a href="#">Angular</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <br>
        <h4> YOUTUBE</h4>
        <p>
          Subscribe to our youtube channel for a weekly dose
          of updates, helpful tricks to crack an interview
        </p>

      </div>

    </div>
  </section>

  <!-- FOOTER ENDS -->